h1 {
  color: #ff6666;
} /* Level 1 */
h1 {
  color: white;
} /* Level 1 */
h2 {
  color: #ff9966;
}
h2 {
  color: lightgrey;
}
h3 {
  color: #66ccff;
}
h4 {
  color: #99ff99;
}
h5 {
  color: #ccccff;
}
h6 {
  color: #aaaaaa;
}
