<?xml version="1.0" encoding="ascii"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template/>
  <TotalTime>17839</TotalTime>
  <Words>4600</Words>
  <Application>Microsoft Macintosh PowerPoint</Application>
  <PresentationFormat>Widescreen</PresentationFormat>
  <Paragraphs>1363</Paragraphs>
  <Slides>71</Slides>
  <Notes>40</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>Fonts Used</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>14</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Theme</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>5</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Slide Titles</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>71</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="90" baseType="lpstr">
      <vt:lpstr>Aptos</vt:lpstr>
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Avenir Next LT Pro</vt:lpstr>
      <vt:lpstr>Calibri</vt:lpstr>
      <vt:lpstr>Courier New</vt:lpstr>
      <vt:lpstr>Montserrat</vt:lpstr>
      <vt:lpstr>Montserrat SemiBold</vt:lpstr>
      <vt:lpstr>Noto Sans Symbols</vt:lpstr>
      <vt:lpstr>Open Sans</vt:lpstr>
      <vt:lpstr>Poppins</vt:lpstr>
      <vt:lpstr>Poppins ExtraLight</vt:lpstr>
      <vt:lpstr>Poppins Light</vt:lpstr>
      <vt:lpstr>Poppins Medium</vt:lpstr>
      <vt:lpstr>System Font Regular</vt:lpstr>
      <vt:lpstr>Office Theme</vt:lpstr>
      <vt:lpstr>2_Office Theme</vt:lpstr>
      <vt:lpstr>1_Office Theme</vt:lpstr>
      <vt:lpstr>3_Office Theme</vt:lpstr>
      <vt:lpstr>4_Office Theme</vt:lpstr>
      <vt:lpstr>Today&#8217;s Discussion</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>HELM MVP FOR FEB (DRAFT) </vt:lpstr>
      <vt:lpstr>Investor Deck Working </vt:lpstr>
      <vt:lpstr>Outline</vt:lpstr>
      <vt:lpstr>Quick Story</vt:lpstr>
      <vt:lpstr>Quick Story &#8211; Missed Opportunity (Almost)</vt:lpstr>
      <vt:lpstr>Thesis: Problem</vt:lpstr>
      <vt:lpstr>Thesis: Compelling Reason to Buy Now!</vt:lpstr>
      <vt:lpstr>The HELM Thesis: Unlocking $T&#8217;s in Opportunity</vt:lpstr>
      <vt:lpstr>Plan Forward: Refined Thesis &amp; Offering</vt:lpstr>
      <vt:lpstr>Problem: Unlocking the $2T AI Agent Market </vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>HELM Entry Point &amp; Addressable Market</vt:lpstr>
      <vt:lpstr>What is HELM?</vt:lpstr>
      <vt:lpstr>How does it work? Where does it fit?</vt:lpstr>
      <vt:lpstr>Talk About this New Layer is Heating Up</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Product Bookings Model 2026</vt:lpstr>
      <vt:lpstr>Working Road Map :  HELM for Salesforce Service</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Look Back</vt:lpstr>
      <vt:lpstr>Strategy: April 2024</vt:lpstr>
      <vt:lpstr>18 Month AI Market Update</vt:lpstr>
      <vt:lpstr>Strategy: December 2025</vt:lpstr>
      <vt:lpstr>Sales Results </vt:lpstr>
      <vt:lpstr>Takeaways</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Plan Forward:  Run as 2 Complimentary Businesses</vt:lpstr>
      <vt:lpstr>Operating Plan Overview for 2026</vt:lpstr>
      <vt:lpstr>Operating Plan for 2026 (Monthly for Reference)</vt:lpstr>
      <vt:lpstr>EV Growth Roadmap</vt:lpstr>
      <vt:lpstr>Team</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Problem: Unlocking the $2T AI Agent Market </vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>HELM Entry Point &amp; Addressable Market</vt:lpstr>
      <vt:lpstr>What is HELM?</vt:lpstr>
      <vt:lpstr>How does it work? Where does it fit?</vt:lpstr>
      <vt:lpstr>Talk About this New Layer is Heating Up</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Product Bookings Model 2026</vt:lpstr>
      <vt:lpstr>Working Road Map :  HELM for Salesforce Service</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>How does it work? How does AI-native make it different?</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>The Context Problem for CS Executives</vt:lpstr>
      <vt:lpstr>The AI Transformation Challenge</vt:lpstr>
      <vt:lpstr>CS Executive Profiles</vt:lpstr>
      <vt:lpstr>The AI Transformation Challenge</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <Company/>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
